body{
    color: darkred;
    background:darkred;
    margin: 0px;
    font-family: "DM Serif Text", serif;
}
header{
    border-bottom: solid 2px darkred;
    padding: 20px;
    font-size: 32px;
    color: darkred;
}
.chamada{
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-rigth: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    color: black;

}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid pink;
}
.categoria h2 {
    color: black;
}